*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    margin: 0;
    min-width: 250px;
}

.flex{
    display: flex;
}

.column{
    display: flex;
    flex-direction: column;
}

#page{
    width: 90%;
    margin: 0 auto;
}

/* HEADER */
header{
    justify-content: space-between;
    align-items: center;
}

header img{
    height: 80px;
}

nav{
    padding: 5% 10% 1em 0;
    position: relative;
}

nav a{
    text-transform: uppercase;
    padding: 0 2.5em;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: .1px;
    transition: all .2s ease-in-out;
}

nav a:hover{
    color: green;
}

#menu, #close{
    display: none;
    cursor: pointer;
}

/* BANNER */
#banner{
    background: url("img/geforce-rtx-2060-gallery-b-641-d@2x.jpg") no-repeat center;
    position: relative;
    height: 380px;
    overflow: hidden;
    background-size: cover;
}

#banner-text{
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 58, 0, 0.664);
    width: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

#banner-btn{
    background: #6aa821;
    margin: 6px;
    padding: 10px 16px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

#banner-btn:hover{
    background: #436b15;
}

/* SECTION */
section{
    justify-content: space-between;
    padding-top: 1%;
    flex-wrap: wrap;
    position: relative;
    border-bottom: 3px solid #6aa821;
}

section article{
    width: 65%;  
}

section article p{
    font-size: 1.1em;
    text-align: justify;
}

section article div{
    align-items: center;
}

section article img{
    height: 25px;
    border: 1px solid black;
}

section article h1{
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/* ASIDE */
section aside{
    align-items: center;
    width: 34%;
    background: #6aa821;
    color: white;
    padding: 2% 0;
}

section aside div:nth-child(1){
    align-items: center;
}

section aside span{
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

section aside figure{
    margin: 7%;
    width: 40%;
}

section aside figure img{
    width: 100%;
}

section aside p{
    width: 90%;
    margin: .5em auto;
    font-size: 1.1em;
}

#socials{
    margin-top: 3.5em;
    justify-content: center;
    width: 100%;
}

#socials a{
    color: white;
    font-size: 1.5em;
    padding: 0 12px;
}

#triangle{
    position: absolute;
    color:#6aa821;
    bottom: -1em;
    left: 45%;
    font-size: 2em;
}

/* FOOTER */
footer{
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 2%;
}

footer div h4{
    font-family: Arial, Helvetica, sans-serif;
}

footer div:nth-child(1){
    width: 25%;
}

#nom, #email{
    padding: 6px 2px;
    margin: 2px 0;
}

#submit{
    background: #6aa821;
    color: white;
    padding: 8px 12px;
}

footer div:nth-child(2), footer div:nth-child(3){
    width: 35%;
}

footer figure{
    margin: 0;
    align-items: center;
    flex-wrap: wrap;
}

footer img{
    cursor:pointer;
}

footer div:nth-child(2) figure img{
    width: 50%;
    padding: 3px;
}

footer div:nth-child(3) figure a{
    width: 33%;
}

footer div:nth-child(3) figure img{
    width: 100%;
}

#load-content{
    position: fixed;
    top: -900%;
    visibility: hidden;
    flex-wrap: wrap;
}

#load-more, #show-less{
    padding: 6px 15px;
    background: #6aa821;
    color: white;
    width: 100%;
    text-decoration: none;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
}

#load-more:hover, #show-less:hover{
    background: #3a5e11;
}

#load-content img{
    width: 50%;
    opacity: 0;
    transition: all 1s ease-in-out;
    visibility: hidden;
}

.load #load-more{
    display: none;
}

.load #load-content{
    position: unset;
    visibility: visible;
}

.load #load-content img{
    opacity: 1;
    visibility: visible;
}

/* GALLERY MODAL */
#modal{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.952);
    visibility: hidden;
}

#modal figure{
    min-width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#modal figure img{
    transition: .3s all ease-in-out;
    position: relative;
    width: 100%;
}

#close-modal{
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 10px;
    height: 40px;
    width: 40px;
    background: rgba(187, 0, 0, 0.692);
    color: rgb(255, 255, 255);
    font-size: 2em; 
}

#close-modal i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media only screen and (max-width: 1050px){

    header nav{
        padding-right: 0;
    }

    header nav a{
        padding: 10px;
    }

    section article{
        width: 100%;
    }

    section aside{
        width: 100%;
        flex-direction: row!important;
        justify-content: space-between;
        align-items: flex-start;
        padding: 5% 0 5% 2%
    }

    section aside figure{
        width: 80%;
        margin-top: 20px!important;
    }

    section aside div:nth-child(1){
        width: 20%;
    }

    section aside div:nth-child(2){
        width: 80%;
        text-align: justify;
    }
}

@media only screen and (max-width: 800px){
    #modal figure{
        min-width: 100%;
    }

    footer{
        flex-direction: column;
        width: 80%;
        margin: auto;
    }

    footer div:not(#load-content){
        width: 100%!important;
        margin-top: 10%;
    }

    footer div:nth-child(3) figure a{
        width: 20%;
        margin: 0 1%;
    }
}

@media only screen and (max-width: 700px){
    header nav a{
        display: none;
    }

    nav a:hover{
        color: black;
    }

    #menu, #close{

        font-size: 1.5em;
        position: fixed;
        top: 0px;
        right: 0px;
        height: 60px;
        width: 60px;
        border-radius: 100% 0% 0% 100% / 0% 100% 0% 100%;
        color: white;
        z-index: 5;
        transition: all .2s ease-in-out;
    }

    #menu:hover{
        background: #5b9915;
    }

    .responsive #close:hover{
        background:rgba(187, 0, 0, 0.692)
    }

    section aside div:nth-child(2){
        width: 100%!important;
    }

    #menu{
        background: #3b630d;
        display: inline-block;
    }

    nav i{
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-20%, -80%);
    }

    .responsive{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 3;
        background: rgba(0, 0, 0, 0.986);
        flex-direction: column;
        justify-content: center;
    }

    .responsive a{
        display: block;
        color: white;
        text-align: center;
        width: 100%;
        padding: 2em 0;
        background: #69a821a2;
        border: 1px solid white;
    }

    .responsive #menu{
        display: none;
    }

    .responsive #close{
        background: rgb(192, 0, 0);
        display: block;    
    }
    
    section aside{
        flex-direction: column!important;
        align-items: center;
    }

    section aside div:nth-child(1){
        width: 100%;
    }

    section aside figure{
        width: 20%;
        min-width: 80px;
        margin: 0;
    }

}

@media only screen and (max-width: 540px){
    #banner-text{
        flex-direction: column;
    }
}